*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.users{
  background-color: rgba(196, 195, 195, 0.305);
  .container{
    max-width: 1200px;
    margin: auto;

    .allusers{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;

      .gridusers{
      margin-top: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        img{
          border-radius: 50%;
          width: 100px;
          height: 100px;
        }
        p{
          text-align: center;
        }
      }
    }
  }
}